In [23]:
import numpy as np
import pandas as pd
import os
from pathlib import Path
import pandas as pd
from matplotlib import pyplot as plt

In [24]:
print(os.listdir('../../Dataset/monkey_dataset'))

['monkey_labels.txt', 'training', 'validation']

In [25]:
root = '../../Dataset/monkey_dataset'
train_dir =  f'{root}/training/training/'
val_dir = f'{root}/validation/validatoin/'
index_file = f'{root}/monkey_labels.txt'

In [26]:
index_df = pd.read_csv(index_file)
index_df

,Label,Latin Name,Common Name,Train Images,Validation Images
0,n0,alouatta_palliata\t,mantled_howler,131,26
1,n1,erythrocebus_patas\t,patas_monkey,139,28
2,n2,cacajao_calvus\t,bald_uakari,137,27
3,n3,macaca_fuscata\t,japanese_macaque,152,30
4,n4,cebuella_pygmea\t,pygmy_marmoset,131,26
5,n5,cebus_capucinus\t,white_headed_capuchin,141,28
6,n6,mico_argentatus\t,silvery_marmoset,132,26
7,n7,saimiri_sciureus\t,common_squirrel_monkey,142,28
8,n8,aotus_nigriceps\t,black_headed_night_monkey,133,27
9,n9,trachypithecus_johnii,nilgiri_langur,132,26

In [27]:
print(index_df.columns)
index_df[" Common Name                   "]

Index(['Label', '  Latin Name           ', ' Common Name                   ',
       ' Train Images ', ' Validation Images'],
      dtype='object')

0     mantled_howler
1     patas_monkey
2     bald_uakari
3     japanese_macaque
4     pygmy_marmoset
5     white_headed_capuchin
6     silvery_marmoset
7     common_squirrel_monkey
8     black_headed_night_monkey
9     nilgiri_langur
Name:  Common Name                   , dtype: object

In [28]:
cols = ['Label', 'Latin Name', 'Common Name', 'Train Images', 'Validation Images']
index_df = pd.read_csv(index_file, names=cols, skiprows=1)
index_df

,Label,Latin Name,Common Name,Train Images,Validation Images
0,n0,alouatta_palliata\t,mantled_howler,131,26
1,n1,erythrocebus_patas\t,patas_monkey,139,28
2,n2,cacajao_calvus\t,bald_uakari,137,27
3,n3,macaca_fuscata\t,japanese_macaque,152,30
4,n4,cebuella_pygmea\t,pygmy_marmoset,131,26
5,n5,cebus_capucinus\t,white_headed_capuchin,141,28
6,n6,mico_argentatus\t,silvery_marmoset,132,26
7,n7,saimiri_sciureus\t,common_squirrel_monkey,142,28
8,n8,aotus_nigriceps\t,black_headed_night_monkey,133,27
9,n9,trachypithecus_johnii,nilgiri_langur,132,26

In [29]:
index_df["Common Name"]

0     mantled_howler
1     patas_monkey
2     bald_uakari
3     japanese_macaque
4     pygmy_marmoset
5     white_headed_capuchin
6     silvery_marmoset
7     common_squirrel_monkey
8     black_headed_night_monkey
9     nilgiri_langur
Name: Common Name, dtype: object