In [27]:
import numpy as np
import pandas as pd
import os
import shutil
import random
from pathlib import Path
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
print(os.listdir('../../Dataset/monkey_dataset'))

['monkey_labels.txt', 'training', 'validation']

In [3]:
root = '../../Dataset/monkey_dataset'
train_dir =  f'{root}/training/training/'
val_dir = f'{root}/validation/validatoin/'
index_file = f'{root}/monkey_labels.txt'

In [19]:
os.makedirs('../../Dataset/monkey_dataset/training200/', exist_ok=True) # Create folders for 200 images
root200 = '../../Dataset/monkey_dataset/training200/'
folders = ['n0', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9']
for folder in folders:
    os.makedirs(os.path.join(root200, folder), exist_ok=True) # can use mkdir instead

In [28]:
for i in range(10):
    src = train_dir + 'n' + str(i)
    # print (src)
    src_files = random.sample(os.listdir(src), 20)
    # print(src_files)
    for file in src_files:
        src_dir = os.path.join(src, file)
        shutil.copy(src_dir, root200 + 'n' + str(i))

In [34]:
print(os.listdir(root200 + 'n0'))  # check the images in training200/n0

['n0021.jpg', 'n0028.jpg', 'n0033.jpg', 'n0037.jpg', 'n0038.jpg', 'n0051.jpg', 'n0113.jpg', 'n0117.jpg', 'n0123.jpg', 'n0128.jpg', 'n0137.jpg', 'n0145.jpg', 'n0148.jpg', 'n0150.jpg', 'n0153.jpg', 'n0162.jpg', 'n0164.jpg', 'n0165.jpg', 'n0169.jpg', 'n0172.jpg']

In [35]:
index_df = pd.read_csv(index_file)
index_df

,Label,Latin Name,Common Name,Train Images,Validation Images
0,n0,alouatta_palliata\t,mantled_howler,131,26
1,n1,erythrocebus_patas\t,patas_monkey,139,28
2,n2,cacajao_calvus\t,bald_uakari,137,27
3,n3,macaca_fuscata\t,japanese_macaque,152,30
4,n4,cebuella_pygmea\t,pygmy_marmoset,131,26
5,n5,cebus_capucinus\t,white_headed_capuchin,141,28
6,n6,mico_argentatus\t,silvery_marmoset,132,26
7,n7,saimiri_sciureus\t,common_squirrel_monkey,142,28
8,n8,aotus_nigriceps\t,black_headed_night_monkey,133,27
9,n9,trachypithecus_johnii,nilgiri_langur,132,26

In [37]:
print(index_df.columns)
index_df[" Common Name                   "] # have to create new columns name

Index(['Label', '  Latin Name           ', ' Common Name                   ',
       ' Train Images ', ' Validation Images'],
      dtype='object')

0     mantled_howler
1     patas_monkey
2     bald_uakari
3     japanese_macaque
4     pygmy_marmoset
5     white_headed_capuchin
6     silvery_marmoset
7     common_squirrel_monkey
8     black_headed_night_monkey
9     nilgiri_langur
Name:  Common Name                   , dtype: object

In [38]:
cols = ['Label', 'Latin Name', 'Common Name', 'Train Images', 'Validation Images']
index_df = pd.read_csv(index_file, names=cols, skiprows=1)
index_df

,Label,Latin Name,Common Name,Train Images,Validation Images
0,n0,alouatta_palliata\t,mantled_howler,131,26
1,n1,erythrocebus_patas\t,patas_monkey,139,28
2,n2,cacajao_calvus\t,bald_uakari,137,27
3,n3,macaca_fuscata\t,japanese_macaque,152,30
4,n4,cebuella_pygmea\t,pygmy_marmoset,131,26
5,n5,cebus_capucinus\t,white_headed_capuchin,141,28
6,n6,mico_argentatus\t,silvery_marmoset,132,26
7,n7,saimiri_sciureus\t,common_squirrel_monkey,142,28
8,n8,aotus_nigriceps\t,black_headed_night_monkey,133,27
9,n9,trachypithecus_johnii,nilgiri_langur,132,26

In [39]:
index_df["Common Name"]

0     mantled_howler
1     patas_monkey
2     bald_uakari
3     japanese_macaque
4     pygmy_marmoset
5     white_headed_capuchin
6     silvery_marmoset
7     common_squirrel_monkey
8     black_headed_night_monkey
9     nilgiri_langur
Name: Common Name, dtype: object

In [8]:
from keras.preprocessing.image import ImageDataGenerator

In [11]:
height, weight = 150, 150
batch_size = 64
seed = 100